<h2><%= @user.name.pluralize %> Profile</h2>

<p><%= link_to "Create New Story", new_story_path, class: "btn btn-primary float-right" %></p>

<% @user.stories.each do |story| %>
	<h4><%= link_to story.title, story %></h4>
	<p>Written by: <%= story.user.name %></p>
	<hr>
<% end %>