// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.story {
	background-color: #F8ECC2;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.pad{
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #F8ECC2;
  border: none;
  overflow: auto;
  outline: none;
  //resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

